<footer class="text-gray-700 body-font">
    <div class="container px-5 pt-8 pb-12 md:py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full">
            <path d="M106.9 412.6H73.767c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H106.9c4.143 0 7.5 3.357 7.5 7.5a7.5 7.5 0 01-7.5 7.5zM454.8 412.6H156.6c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h298.2a7.5 7.5 0 010 15zM454.8 478.866h-33.133c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H454.8c4.143 0 7.5 3.357 7.5 7.5s-3.358 7.5-7.5 7.5zM371.967 478.866h-298.2c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h298.2c4.143 0 7.5 3.357 7.5 7.5s-3.358 7.5-7.5 7.5z" fill="#ecf4ff"/><path d="M39.253 445.733H7.5c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h31.753c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM504.5 445.733h-33.134c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H504.5c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM421.667 445.733H88.953c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h332.714c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM39.253 512H7.5c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h31.753c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM504.5 512h-33.134c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H504.5c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM421.667 512H88.953c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5h332.714c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5z" fill="#ddeafb"/><path d="M322.267 81.267a7.499 7.499 0 01-7.5-7.5V7.5c0-4.143 3.357-7.5 7.5-7.5s7.5 3.357 7.5 7.5v66.267a7.5 7.5 0 01-7.5 7.5zM322.267 379.467a7.499 7.499 0 01-7.5-7.5V305.7c0-4.143 3.357-7.5 7.5-7.5s7.5 3.357 7.5 7.5v66.267a7.5 7.5 0 01-7.5 7.5zM504.5 197.233h-66.267c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H504.5c4.143 0 7.5 3.357 7.5 7.5s-3.357 7.5-7.5 7.5zM206.3 197.233h-66.267c-4.143 0-7.5-3.357-7.5-7.5s3.357-7.5 7.5-7.5H206.3c4.143 0 7.5 3.357 7.5 7.5s-3.358 7.5-7.5 7.5zM404.268 115.232a7.5 7.5 0 01-5.304-12.803l46.857-46.857a7.5 7.5 0 0110.607 10.607l-46.857 46.857a7.48 7.48 0 01-5.303 2.196zM451.125 326.092a7.481 7.481 0 01-5.304-2.196l-46.857-46.857a7.5 7.5 0 0110.607-10.607l46.857 46.857a7.5 7.5 0 01-5.303 12.803zM240.266 115.232a7.481 7.481 0 01-5.304-2.196l-46.857-46.857a7.5 7.5 0 0110.607-10.607l46.857 46.857a7.5 7.5 0 01-5.303 12.803z" fill="#ffe07d"/><g><path d="M277.891 90.096a7.502 7.502 0 01-6.932-4.632L258.28 54.853a7.498 7.498 0 014.059-9.799 7.499 7.499 0 019.799 4.059l12.679 30.611a7.498 7.498 0 01-4.059 9.799 7.494 7.494 0 01-2.867.573zM215.124 152.856a7.468 7.468 0 01-2.867-.573l-30.61-12.68a7.499 7.499 0 01-4.059-9.799c1.586-3.828 5.976-5.646 9.799-4.059l30.61 12.68a7.499 7.499 0 014.059 9.799 7.502 7.502 0 01-6.932 4.632zM265.206 334.985a7.468 7.468 0 01-2.867-.573 7.499 7.499 0 01-4.059-9.799l12.679-30.61c1.586-3.826 5.975-5.646 9.799-4.059a7.499 7.499 0 014.059 9.799l-12.679 30.61a7.504 7.504 0 01-6.932 4.632zM379.328 334.985a7.502 7.502 0 01-6.932-4.632l-12.68-30.61a7.498 7.498 0 014.059-9.799 7.499 7.499 0 019.799 4.059l12.68 30.61a7.498 7.498 0 01-4.059 9.799 7.472 7.472 0 01-2.867.573zM460.015 254.293a7.472 7.472 0 01-2.867-.573l-30.611-12.679a7.499 7.499 0 01-4.059-9.799 7.496 7.496 0 019.799-4.059l30.611 12.679a7.499 7.499 0 014.059 9.799 7.502 7.502 0 01-6.932 4.632zM429.409 152.856a7.502 7.502 0 01-6.932-4.632 7.499 7.499 0 014.059-9.799l30.611-12.68a7.5 7.5 0 019.799 4.059 7.498 7.498 0 01-4.059 9.799l-30.611 12.68a7.472 7.472 0 01-2.867.573zM366.643 90.096a7.468 7.468 0 01-2.867-.573 7.499 7.499 0 01-4.059-9.799l12.68-30.611c1.586-3.826 5.976-5.646 9.799-4.059a7.499 7.499 0 014.059 9.799l-12.68 30.611a7.504 7.504 0 01-6.932 4.632z" fill="#fff0af"/></g><g><circle cx="322.52" cy="189.733" fill="#ffe07d" transform="rotate(-45 322.51 189.807)" r="82.833"/><path d="M322.52 106.9c-3.904 0-7.74.29-11.5.813 40.301 5.601 71.333 40.177 71.333 82.021s-31.032 76.42-71.333 82.021c3.76.523 7.596.813 11.5.813 45.747 0 82.833-37.086 82.833-82.833S368.267 106.9 322.52 106.9z" fill="#ffd064"/></g><path d="M198.011 322.267c23.801 0 42.897-20.421 41.18-44.563-1.41-19.817-17.108-36.027-36.872-38.05a41.899 41.899 0 00-8.171-.041c-3.628.339-6.974-1.953-8.161-5.398-8.925-25.883-33.482-44.481-62.397-44.481-21.694 0-40.935 10.471-52.965 26.631-3.067 4.12-7.852 6.537-12.988 6.504l-.314-.001c-27.731 0-50.158 22.712-49.693 50.549.455 27.251 23.256 48.851 50.511 48.851h139.87z" fill="#ecf4ff"/><path d="M239.191 277.704c-1.41-19.817-17.108-36.027-36.872-38.05a41.899 41.899 0 00-8.171-.041c-3.628.339-6.974-1.953-8.161-5.398-8.925-25.883-33.482-44.481-62.397-44.481-3.93 0-7.779.348-11.519 1.007 23.798 4.177 43.2 21.098 50.916 43.474 1.188 3.445 4.533 5.737 8.161 5.398a41.977 41.977 0 018.171.041c19.764 2.023 35.462 18.233 36.872 38.05 1.717 24.142-17.379 44.563-41.18 44.563h23c23.8 0 42.897-20.421 41.18-44.563z" fill="#daeaff"/><path d="M99.394 272.566a7.5 7.5 0 0015 0c0-27.195-16.689-50.558-40.359-60.407a66.269 66.269 0 00-3.409 4.205c-3.067 4.12-7.852 6.537-12.988 6.504l-.314-.001h-.003c23.84 3.981 42.073 24.746 42.073 49.699z" fill="#ddeafb"/>
          </svg>
          <span class="ml-3 text-xl">Weather App</span>
        </a>
        <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">First Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">First Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">First Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">First Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-gray-200">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 tailblocks —
          <a href="https://github.com/darkpanda08" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">Vineet Ranjan</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
</footer>