<% if(error_msg != '') { %>
    <div class="text-red-700 px-6 py-4 border rounded-lg relative bg-red-100 border-red-400 w-auto inline-block float-right mx-4 md:mr-12" id="alert">
        <span class="inline-block align-middle mr-8">
          <b class="capitalize">Holy smokes!</b> <%= error_msg %>
        </span>
        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" id="alert-close">
          <span>×</span>
        </button>
      </div>
<% } %>
  