<%- include ("./partials/navbar") %>

<%- include ("./partials/messages") %>

<section class="text-gray-700 body-font">
    <div class="container px-5 md:py-12 pt-8 pb-4 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <!-- <h1 class="title-font font-medium text-3xl text-gray-900">Just another weather application</h1> -->
        <%- include ("./partials/weather_svg") %>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 pt-6 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-2xl font-semibold title-font mb-5">Get Current Weather</h2>
        <form action="/search" method="post" class="w-auto" id="search-bar">
            <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-2 w-full" placeholder="City" type="text" id="search-text" name="city">
            <p class="text-xs text-gray-500 mb-3">For cities with same name, you can enter Two letter Country code with city name sepearted by a comma.</p>
            <select class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4 w-full" name="units">
              <option value="metric">Metric</option>
              <option value="imperial">Imperial</option>
            </select>
            <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Search</button>
        </form>
        
        <p class="text-xs text-gray-500 mt-3">We have data of more than 130k cities around the globe.</p>
      </div>
    </div>
</section>

<%- include ("./partials/footer") %>

<script>
    $(document).ready(() => {
      
      // To close alert
      $("#alert-close").click(() => {
        $('#alert').fadeOut("slow");
      });
    });

</script>